# Infinity Kernel Base Configuration
# SPDX-License-Identifier: GPL-2.0-only

# Kernel identity
CONFIG_LOCALVERSION="-InfinityKernel"

# BORE Scheduler
CONFIG_SCHED_BORE=y

# Networking
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"

# Memory / zRAM
CONFIG_ZRAM=y
CONFIG_ZRAM_WRITEBACK=y
CONFIG_ZRAM_MEMORY_COMPRESSION=y
CONFIG_ZRAM_COMP_ALGORITHM_LZ4=y

# Android
CONFIG_ANDROID_BINDERFS=y
CONFIG_ANDROID_BINDER_IPC=y

# Security
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_CC_STACKPROTECTOR=y
CONFIG_CC_STACKPROTECTOR_STRONG=y
CONFIG_CC_STACKPROTECTOR_AUTO=y

# Cgroup
CONFIG_CGROUPS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUP_CPUSET=y
CONFIG_CGROUP_BPF=y
CONFIG_MEMCG=y
CONFIG_BLK_CGROUP=y

# Debug filesystem
CONFIG_DEBUG_FS=y

# Display
CONFIG_DRM=y
CONFIG_DRM_MSM=y

# CPU Frequency
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y

# Power Management
CONFIG_PM=y
CONFIG_PM_WAKELOCKS=y
CONFIG_SUSPEND=y
CONFIG_HIBERNATION=n

# WLAN
CONFIG_WLAN=y
CONFIG_QCA_CLD_WLAN=y
CONFIG_CLD_HL_SDIO_CORE=n
