# Root: APatch
# SPDX-License-Identifier: GPL-2.0-only

# Required for APatch
CONFIG_KPROBES=y
CONFIG_MODULES=y
CONFIG_MODULE_SIG=n
CONFIG_MODULE_FORCE_LOAD=n
CONFIG_OVERLAY_FS=y

# SUSFS options (APatch + susfs)
CONFIG_SUSFS=y
CONFIG_SUSFS_SUS_PATH=y
CONFIG_SUSFS_SUS_MOUNT=y
CONFIG_SUSFS_TRY_UMOUNT=y
CONFIG_SUSFS_SPOOF_UNLINK=y
CONFIG_SUSFS_ENABLE_LOG=y
CONFIG_SUSFS_SUS_KSTAT=y
CONFIG_SUSFS_SUS_OVERLAYFS=y
CONFIG_SUSFS_SPOOF_PROC_SELF_STATUS=y
CONFIG_SUSFS_SPOOF_PROC_CMDLINE=y
CONFIG_SUSFS_SUS_DNAME=y
CONFIG_SUSFS_SPOOF_RSTAT=y
CONFIG_SUSFS_SPOOF_ACCESS=y
CONFIG_SUSFS_SPOOF_READLINK=y
CONFIG_SUSFS_SPOOF_OPENAT2=y
CONFIG_SUSFS_SPOOF_GETDENT64=y
CONFIG_SUSFS_SUS_INODE=y
