/dts-v1/;
/plugin/;

/ {
    compatible = "qcom,sm7325";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            infinity_charging: infinity-charging {
                compatible = "infinity,charging-control";
                status = "okay";
                default-thermal-limit = <42>;
                default-auto-resume = <15>;
                charging-modes = <0 1 2 3 4>;
                mode-light-pause = <80>;
                mode-balanced-pause = <70>;
                mode-extreme-pause = <60>;
                mode-ultra-pause = <50>;
            };
        };
    };
};